/*standard website*/
.checkatrade{
  text-align: center;
  padding-top: 20px
}

.mail{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.mail:hover{
  color: white;
}
.installation{
  float: left ;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-right: solid;
  border-color: grey;
  border-width: 5px;
  padding-right: 11%;
  padding-left: 50px;
}

.testing{
  float: right;
  margin-right: auto;
  padding-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fontstyle{
  font-family: Arial, Helvetica, sans-serif;
}
.stickybar{
  position: sticky;
  top: 0;
  margin: 0;
}
.stickybarformat{
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: lightgrey
}

.stickybarcontact {
  float: right;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 0 50px 0 0;

}
.stickybarcontact a{
  display: inline;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.stickybarcontact a:hover{
  color: white;
}

.contact {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  border: solid grey;
  background-color: lightgrey;
  padding: 10px;
  height: auto;
  color: black;
  font-weight: bold;
}

.contact:hover{
  background-color: darkgrey;
  height: auto;
  color: white;
}

u{
  padding: 10px;
  text-decoration: none;
  border-bottom: 5px solid grey;
}

h1{
  font-size: 35px;
  text-align: center;
}

.h1padding{
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
}

h3 {
  font-size: 22px;
  text-align: center
}
h2 {
  font-size: 25px;
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
}

p,li{
  font-size: 17px;
  text-align: left;
  margin-left: 40px;
}

.box{
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.wrapbox{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(white, darkgrey, white);
  background-image: -o-linear-gradient(white, darkgrey, white);
  background-image: linear-gradient(white, darkgrey, white);
}

.wrapboxquote{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(white, darkgrey, white);
  background-image: -o-linear-gradient(white, darkgrey, white);
  background-image: linear-gradient(white, darkgrey, white);
}

.wrapboxwhite{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
}

.wrapboxservices{
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 80px;
  padding: 0;
  background-color: white;
}

.imageright{
  float: right;
  padding: 0 10px 0 0;
  height: auto;
  width: 40%;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 10px
}

body{
  margin: 0;
  padding: 0;
  border: none;
}

.menu-icon > .line {
    color: black;
    border-style: solid;
    width: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1px;
    display: block;
}
.menu-icon > .line + .line {
    margin-top: 8px;
}

.menu-icon:hover > .line{
  color: white;
}

header{
  text-align: center;
}

.Logo{
  padding: 10px 0 10px 0;
  Height: 100px;
  Width: 90px;
}

.dashHr{
  border-style: dotted;
  border-width: thick;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20px;
  padding: 50px;
  margin: auto;
  color: grey;
}
/* Dropdown Button */
.dropbtn {
  background-color: lightgrey;
  color: black;
  width: auto;
  height: auto;
  padding: 15px 8px 15px 8px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: left;
  border-style: none;
  border-width: thin;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 20px 40px 20px 40px;
  margin: 0;
  border: none;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  padding: 20px 40px 20px 40px;
  margin: 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline;
  padding: 0px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: darkgrey;
  height: auto;
  cursor: pointer;
}
