body{
  background-image: -webkit-linear-gradient(white, darkgrey, white);
  background-image: -o-linear-gradient(white, darkgrey, white);
  background-image: linear-gradient(white, darkgrey, white);
}

h1{
  color: red;
}
